*.swp
*.ecl
*~
*.so
*.exe
*.dmp
*.dep
*.dmp
*.log
public/*
data/*
realm/*
log/*
config/servers.cfg
pol.exe'
data.zip
pol.cfg
ecompile
pol
poltool
runecl
uoconvert
uotool

# Dependency directories
node_modules/
jspm_packages/

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history