######################################################
#
# loot-groups.cfg
#
# These are groups where items can be randomly selected from.
# Amount can be a solid number or a dice string.
# ItemName can be an objtype number or an item name.
#
# LootGroup GroupName
# {
# 	Item	<itemName>	<Amount>
# }
#
######################################################
Group baseRecipes
{
  Recipe 0x1BD4
  Recipe 0xf3f
  Recipe 0x1bfb
  Recipe 0x13B2
  Recipe 0x26CC
  Recipe 0x140A
  Recipe 0x13BB 
  Recipe 0x13BE 
  Recipe 0x13BF
  Recipe 0xF51
  Recipe 0xF49 
  Recipe 0xF5C
  Recipe 0xF60
  Recipe 0x10e4
  Recipe 0x102a
  Recipe 0x10e5
  Recipe 0x14FB
  Recipe 0xe9b
  Recipe 0xe85
  Recipe 0x1849
  Recipe 0xF0E
  Recipe 0x1830
  Recipe 0x5107
  Recipe 0x6400
  Recipe 0x9E1
  Recipe 0xec4
  Recipe 0x1088
  Recipe 0x1087
  Recipe 0x1086
  Recipe 0x1004
  Recipe 0x10e1
  Recipe 0x15f8
  Recipe 0x1043
  Recipe 0x1022
  Recipe 0x1ebc
  Recipe 0x13e3
  Recipe 0xf9d
  Recipe 0x10e7
  Recipe 0xf9e
  Recipe 0x1034
  Recipe 0x1f01
  Recipe 0x1F03
  Recipe 0x1517
  Recipe 0x170d
  Recipe 0x1c0a
  Recipe 0x1c08
  Recipe 0x1c06
  Recipe 0x13cc
  Recipe 0x13cb
  Recipe 0x13cd
  Recipe 0x13c6
  Recipe 0x13c7
  Recipe 0x1db9
  Recipe 0x2fb7
  Recipe 0x9B0
  Recipe 0x1715
  Recipe 0x1543
  Recipe 0x153f
  Recipe 0x153b
  Recipe 0x1539
  Recipe 0x1516
  Recipe 2474
  Recipe 2473
  Recipe 5344
  Recipe 2602
  Recipe 2603
  Recipe 3940
  Recipe 3519
  Recipe 7034 
  Recipe 5353
  Recipe 1118 
  Recipe 5160
  Recipe 3762
}
Group blasckSmithRecipes1
{
	Recipe	ShortBow
	Recipe	Axe
	Recipe	Dagger
	Recipe	Club
	Recipe	Mace
	Recipe	ChainmailCoif	1
	Recipe	ChainmailLeggings 1
	Recipe	ChainmailTunic	1
	Recipe	WarFork

}
Group blasckSmithRecipes2
{
	Recipe	Maul
	Recipe	WarAxe
	Recipe	HammerPick
	Recipe	Bardiche
	Recipe	ShortSpear
	Recipe	Rapier
	Recipe	LongBow
	Recipe	LongSword
	Recipe	vikingsword

	Recipe	RingmailTunic	1
	Recipe	RingmailSleeves	1
	Recipe	RingmailLeggings 1
	Recipe	RingmailGloves	1
}
Group blasckSmithRecipes3
{
	Recipe	BastardSword
	Recipe	ExecutionersAxe
	Recipe	Crossbow
	Recipe	Pike
}
Group blasckSmithRecipes4
{
	Recipe	GreatSword
	Recipe  Kryss
	Recipe	Scythe
	Recipe	LargeBattleAxe
	Recipe	Halberd
}

Group tailoringRecipes1
{
	Recipe	Shirt		1
	Recipe	Tunic		1
	Recipe	Bandana		1
	Recipe	SkullCap	1
	Recipe	Sandals		1
	Recipe	Shoes		1
	Recipe	StrawHat	1
	Recipe	Bonnet		1
	Recipe	Tanga		1
	Recipe	LeatherGorget	1
	Recipe	LeatherSleeves	1
	Recipe	LeatherGloves	1
	Recipe	LeatherCap	1
	Recipe	LeatherLeggings	1
	Recipe	LeatherSkirt	1
}
Group tailoringRecipes2
{

	Recipe	FancyShirt	1
	Recipe	PlainDress	1
	Recipe	FloppyHat	1
	Recipe	Skirt		1
	Recipe	BodySash	1
	Recipe	FeatheredHat	1
	Recipe	TricorneHat	1
	Recipe	Cloak		1
	Recipe	StuddedGloves	1
	Recipe	StuddedGorget	1
	Recipe	LeatherTunic	1
}
Group tailoringRecipes3
{
	Recipe	TribalMask	1
	Recipe	StuddedSleeves	1
	Recipe	StuddedLeggings	1
	Recipe	StuddedTunic	1
}
Group tailoringRecipes4
{
	Recipe	Bearmask	1
	Recipe	Deermask	1
}

Group cookingRecipes1
{
	Recipe	LeatherGorget	1
}
Group cookingRecipes2
{
}
Group cookingRecipes3
{
}
Group alchemyRecipes1
{
	Recipe	pocaocura		1
	Recipe	pocaomana		1
}
Group alchemyRecipes2
{
	Recipe  antidoto 	   1
	Recipe	pocaovigor		1
}
Group alchemyRecipes3
{
}
Group carpentryRecipes1
{
	Recipe	LeatherGorget	1
}
Group carpentryRecipes2
{
}
Group carpentryRecipes3
{
}

######################################################
#
# Group of Common items
#
######################################################
Group reagentsEasy
{
	Item	Batwing		1d6
	Item	Nightshade	1d6
	Item	Garlic		1d6
	Item	SpiderSilk	1d6
	Item	MandrakeRoot	1d6
	Item	SulphurousAsh	1d6
	Item	Ginseng		1d6
	Item	BloodMoss	1d6
	Item	BlackPearl	1d6
}
Group reagentsHard
{
	Item	Bone		1d2
	Item	VialOfBlood	1d2
	Item	Pumice		1d2
	Item	DeadWood	1d2
	Item	FertileDirt	1d2
	Item	ExecutionersCap	1d2
	Item	BloodSpawn	1d2
	Item	BloodReagent	1d2
	Item	Brimstone	1d2
	Item	Obsidian	1d2
	Item	PigIron		1d2
}
Group reagentsDark
{
	Item	BlackMoor	1d6
	Item	Batwing		1d6
	Item	Bone			1d6
	Item	gravedust	1d6
	Item 	demonbone 	1d2
}
Group Alchemy
{
	Item heatingstand 1
	Item balao 1
	Item beker 1
	Item mortar 1
}
Group Keys
{
	Item	Key1	1
	Item	Key2	1
	Item	Key3	1
	Item	Key4	1
	Item	Key5	1
}

Group Instruments
{
	Item	Drum		1
	Item	Tamborine	1
	Item	Harp		1
	Item	standingharp	1
	Item	Lute		1
	Item	Flute		1
}
Group Writing
{
	Item	book1		1
	Item	book2		1
	Item	book3		1
	Item	book4		1
	Item	book5		1
	Item	book6		1
	Item	book1		1
	Item	book2		1
	Item	book3		1
	Item	book4		1
	Item	book5		1
	Item	book6		1
	Item	mapmakerspen1		1	//pend and ink
	Item	BlankScroll	1d4
	Item	BlankScroll	1d4
}
Group Gems
{
	Item	amber				1
	Item	citrine			1
	Item	ruby				1
	Item	tourmaline		1
	Item	emerald			1
	Item	sapphire			1
	Item	amethyst			1
	Item 	starsapphire	1
	Item	diamond			1
}
Group Gore
{
	Item	heart		1
	Item	liver		1
	Item	entranhas	1
	Item	brain		1
	Item	elfears		1
	Item	humanears	1
}
Group RawFoodSea
{
	Item rawfishwithhead1
	Item rawfishwithhead2
	Item rawfishwithouthead2
}
Group FoodPoor
{
	Item	Apple		1d5
	Item	Pear		1d5
	Item	Peach		1d5
	Item	Carrots	1d5
	Item	Corn		1d5
}
Group FoodGood
{
	Item	Bread		1
	Item	CookedLegofLamb	1d2
	Item	ChickenLeg	1d3
	Item	CookedRibs	1d4
	Item	CookedBird	1d4
	Item	CookedFishSteak	1d4
	Item	Apple		1d5
	Item	Pear		1d5
	Item	Peach		1d5
	Item	Carrots		1d5
	Item	Corn		1d5
}
Group FoodRich
{
	Item	Bread		1
	Item	CookedLegofLamb	1d2
	Item	ChickenLeg	1d3
	Item	CookedRibs	1d4
	Item	CookedBird	1d4
	Item	CookedFishSteak	1d4
	Item	Apple		1d5
	Item	Pear		1d5
	Item	Peach		1d5
	Item	Carrots		1d5
	Item	Corn		1d5
}
Group Alcool
{
	Item	bottleofliquor	1
	Item	bottleofale	1
	Item	bottleofwine	1
	Item	jugofcider	1
	Item	bottleofwatermelonliquor	1
	Item	bottleofpeachliquor		1
	Item	bottleofbrandy			1
	Item	bottleofmead			1
}
Group Tools
{
	Item	Hatchet		1
	Item	Pickaxe		1
	Item	Shovel		1
	Item	ButcherKnife	1
	Item	Cleaver		1
	Item	SkinningKnife	1
	Item	SmithHammer	1
	Item	Scissors	1
	Item	tinkertools2	1
	Item	SewingKit	1
	Item	FletchTools	1
	Item	Mortar		1
	Item	EmptyBottle	1
	Item	Saw		1
	Item	Hammer		1
	Item	JointingPlane	1
	Item	Inshave		1
	Item	SmeltingPot	1
}

Group MinorPotions
{
	Item	pocaocura		1
	Item	pocaomana		1
	Item	pocaovigor		1
	Item  antidoto 	   1
}

Group MajorPotions
{
	Item	pocaocuramaior		1
	Item	pocaomanamaior		1
	Item	pocaovigormaior	1
	Item  antidotomedio 	   1
}

Group SuperiorPotions
{
	Item	pocaocurasuperior		1
	Item	pocaomanasuperior		1
	Item	pocaovigorsuperior	1
	Item  antidotoforte 	      1
}

Group SupremePotions
{
	Item	pocaocurasuprema		1
}
######################################################
#
# Group of Equipments
#
######################################################

Group ClothesPoor
{
	Item	Robe		1
	Item	Shirt		1
	Item	PlainDress	1
	Item	Tunic		1
	Item	Skirt		1
	Item	ShortPants	1
	Item	Bandana		1
	Item	SkullCap	1
	Item	Sandals		1
	Item	Shoes		1
	Item	FloppyHat	1
	Item	WideBrimHat	1
	Item	TallStrawHat	1
	Item	StrawHat	1
	Item	Bonnet		1
}
Group ClothesRich
{
	Item	FancyShirt	1
	Item	FancyDress	1
	Item	Doublet		1
	Item	JesterSuit	1
	Item	LongPants	1
	Item	HalfApron	1
	Item	FullApron	1
	Item	BodySash	1
	Item	Boots		1
	Item	ThighBoots	1
	Item	Cap		1
	Item	FeatheredHat	1
	Item	TricorneHat	1
	Item	JesterHat	1
	Item	Cloak		1
}

Item ClothesWild
{
	Item	Bearmask	1
	Item	Deermask	1
	Item	TribalMask	1
	Item	Tanga		1
	Item	LeatherSkirt	1
}


Group ArmorsPoor
{
	Item	LeatherGorget	1
	Item	LeatherSleeves	1
	Item	LeatherGloves	1
	Item	LeatherCap	1
	Item	LeatherLeggings	1
	Item	LeatherTunic	1
	Item	Helmet		1
	Item	RoundShield	1
	Item	Buckler		1
	Item	WoodenShield	1
	Item	MetalShield	1
	Item	ChainmailCoif	1
	Item	ChainmailLeggings 1
	Item	ChainmailTunic	1

}

Group ArmorsCommon
{

	Item	KiteShield	1
}

Group ArmorsGood
{
	Item	StuddedGorget	1
	Item	StuddedGloves	1
	Item	StuddedSleeves	1
	Item	StuddedLeggings	1
	Item	StuddedTunic	1
	Item	RingmailTunic	1
	Item	RingmailSleeves	1
	Item	RingmailLeggings 1
	Item	RingmailGloves	1
	Item	Bascinet	1
	Item	PlateHelm	1
	Item	KiteShield	1
	Item	WooodenKiteShield 1
}

Group ArmorsRare
{
	Item	NoseHelm	1
	Item	CloseHelm	1
	Item	PlateHelm	1
	Item	KiteShield	1
	Item	HeaterShield	1
	Item	PlatemailBreastplate 1
	Item	PlatemailArms	1
	Item	PlatemailLegs	1
	Item	PlatemailGloves	1
	Item	PlatemailGorget	1
}

Group WeaponsPoor
{
	Item	ShortBow
	Item	Axe
	Item	BattleAxe
	Item	Mace
	Item	ShortSpear
	Item	Cutlass
	Item	Dagger
	Item	Kryss
	Item	Club
	// Item	GnarledStaff
	// Item	Quarterstaff
}

Group WeaponsCommon
{
	Item	LongSword
	Item	WarAxe
	Item	ShortBow
	Item	LongBow
	Item	Crossbow
	Item	Axe
	Item	BattleAxe
	Item	HammerPick
	Item	Mace
	Item	Maul
	Item	Bardiche
	Item	ShortSpear
	Item	Spear
	Item	Cutlass
	Item	Katana
	Item	Kryss
	Item	Scimitar
	Item	Pitchfork
	// Item	Quarterstaff
	Item	Scepter
	Item	HeavyClub
	Item	Rapier
}

Group WeaponsGood
{
	Item	LongSword
	Item	WarAxe
	Item	LongBow
#	Item	Crossbow
	Item	HeavyCrossbow
	Item	DoubleAxe
	Item	LargeBattleAxe
	Item	TwoHandedAxe
	Item	WarHammer
	Item	WarMace
	Item	Bardiche
	Item	Halberd
	Item	Scimitar
	Item	BastardSword
	Item	BlackStaff
	Item	BladedStaff
	Item	Pike
	Item	ShortScythe
	Item	GreatSword
	Item	Scepter
	Item	Rapier
}

Group WeaponsRare
{
	Item	HeavyCrossbow
	Item	ExecutionersAxe
	Item	LargeBattleAxe
	Item	TwoHandedAxe
	Item	WarHammer
	Item	Halberd
	Item	WarFork
	Item	BastardSword
	Item	Scythe
	Item	BladedStaff
	Item	Pike
	Item	DoubleBladedStaff
	Item	ShortScythe
	Item	Lance
	Item	CrescentBlade
	Item	GreatSword
#	Item	RepeatingCrossbow
	Item   Kryss
}

Group Wands
{
	Item	wand01
	Item	wand02
	Item	wand03
	Item	wand04
}

Group WandsMetal
{
	Item	wand01
	Item	wand02
}

Group WandsWood
{
	Item	wand03
	Item	wand04
}


Group SeedsPoor
{
	Item	CarrotSeed	1d2
	Item	CottonSeed	1d2
	item	OnionSeed	1d2
	Item	HoneydewSeed	1d2
	Item	CantelopeSeed	1d2
	Item	GourdSeed	1d2
	Item	SquashSeed	1d2
	Item	WatermelonSeed	1d2
	Item	CabbageSeed	1d2
	Item	FlowerSeed	1d2
}

Group SeedsGood
{
	Item	FlowerSeed	1d4
	Item	HopsSeed	1
	Item	WheatSeed	1
	Item	pearSeed	1
	Item	AppleSeed	1
	Item	mushroomseed	1
	Item	FlaxSeed	1
	Item	PumpkinSeed	1
	Item	GarlicSeed	1d2
}

Group SeedsRare
{
	Item	StrawBerrySeed	1
	Item	GrapesSeed	1
	Item	BloodMossSeed	1
	Item	NightshadeSeed	1
	Item	ExecutionerCapSeed	1
	Item	MandrakeSeed	1
	Item	peachSeed	1
	Item	GinsengSeed	1
}