# $Id: CarpMenu.cfg 739 2005-10-31 04:45:12Z muaddiblsd $
#
#
##########################################################################
# Format for Crafting Menus Config Files:
#
#  Index Entry for Config:
#
#     Craftitem Index      <- This is the Index. Contains the Sub Menu Names
#     {
#      Title	   Example <- HTML Name of the Menu
#      Skill       blacksmithy  <- Skill the menu is for. Same as the ID's in pol
#      SkillID     blacksmithy  <- SkillID of the skill listed in Skill. Needs removed
#      Group       Axes    <- Used for each Sub Menu Name
#     }
#
#  Sub Menu Entry for Config:
#
#     Craftitem RingMail   <- Should match the Sub-Menu Group name in Index
#     {
#     	Item	RingmailGloves   <- For each item in the sub-menu. You use the
#                                   objtype name here, not the objtype.
#     }
#
##########################################################################
Craftitem Index
{
        Title   <center>Menu de Carpintaria</center>
        Skill   Carpentry
        SkillID Carpentry
	Group	Recipientes
	Group	Assentos
	Group	Mesas e Balcoes
    Group   Armarios
	Group	Cercas e Portas
	Group	Postes e Suportes
	Group	Ferramentas e Equips
	Group	Jogos e Instrumentos
	Group	Construcoes
}

Craftitem Recipientes
{
	Item	WoodenBox
	Item	SmallCrate
	Item	MediumCrate
	Item	LargeCrate
	Item	WoodenChest
	Item	waterbucket
	Item	barrica
	Item	barricacomtorneira
	Item	dyetub
	Item	balde
	Item	openbarrel
	Item	tampadebarril
	Item	barrelstaves
	Item	barrel
}

CraftItem Armarios
{
	Item	CherryChestOfDrawers
	Item	BrownChestOfDrawers
	Item	CherryArmoire
	Item	OpenBrownArmoire
	Item	BookShelf

}

Craftitem Assentos
{
	Item	banquinho
	Item	banquinho2
	Item	banco
	Item	banco2
	Item	banco3
	Item	cadeiragrande
	Item	cadeira
	Item	cadeiraestofada
	Item	cadeiraestofada2
	Item	bancogrande
	Item	trono
	Item	OrnateElvenChair
	Item	BigElvenChair
	Item	ElvenReadingDesk
}

Craftitem Mesas e Balcoes
{
	Item	mesinha
	Item	escrivaninha
	Item	mesagrande
	Item	mesagrande2
	Item	balcao
	Item	balcao2
	Item	balcao3
	Item	mesa
	Item	mesa2
	Item	mesa3
	Item	mesa4
	Item	mesaadornada
	Item	mesaadornada2
	Item	mesagrandeadornada
	Item	mesagrandeadornada2
	Item	bar
	Item	FancyElvenTable
	Item 	OrnateElvenTable
	Item 	LogTable
#	Item	Cot
#	Item 	hammock
}

Craftitem Cercas e Portas
{
	Item	cerca
	Item	cerca2
	Item	cerca3
	Item	portamadeirasimples
	Item	portamadeiraclara
	Item	portareforcada
#	Item	portaopequeno
	Item	portaopequenoescuro
}

Craftitem Postes e Suportes
{
	Item	suportedeplacas
	Item	suportedeplacas2
	Item	partiturapequena
	Item	partituragrande
	Item	seladecavalo
	Item	seladecavalo2
	Item	placa1
	Item	placa2
	Item	placa3
	Item	placa4
	Item	placa5
	Item	placa6
}


Craftitem Ferramentas e Equips
{
	Item	FishingPole
	Item	Quarterstaff
	Item	GnarledStaff
	Item	ShepherdsCrook
	Item	BlackStaff
	Item	moldedevela
	Item	WoodenShield
	Item	KiteShieldB1
	Item	padeforno
	Item	caixadeferramentas
	Item	caixadeferramentas2
	Item	remos
}

Craftitem Jogos e Instrumentos
{
	Item	tabuleirodegamao
	Item	tabuleirodedamas
	Item	tabuleirodexadrez
	Item	alvo2
	Item	drum
	Item	Tambourine
	Item	Tambourine2
	Item	harp
	Item	standingharp
	Item	lute
}

Craftitem Construcoes
{
	Item	carrinhodemao
	Item	plataforma
	Item	bulletinboard
	Item	rodadefiar
	Item	tear
	Item	moinho
	Item	curtidor
	Item	tinadeagua
	Item	plough
	Item	espantalho
	Item	ArcheryButte
	Item	TrainingDummy
	Item	escada
	Item	ornamentedmirror
	Item	floormirror
	Item	cama
	Item	camadecasal
	Item	ElvenBed
	
}

