# FLS Carpentry - 0.1
#------------------------------------------------------------FERRAMENTAS

Item  0x1034
{
	Name		saw
	Desc		serrote
	Script		carpentry
	Weight		2
}

Item  0x1035
{
	Name		saw2
	Desc		serrote
	Script		carpentry
	Weight		2
}

Item  0x1028
{
	Name		Dovetailsaw
	Desc		serra de ensamblagem
	Script		carpentry
	Weight		1
}

Item  0x10e5
{
	Name		Froe
	Desc		enxó
	Script		carpentry
	Weight		1
}


Item  0x102c
{
	Name		mouldingplane
	Desc		moulding plane
	Script		carpentry
	Weight		2
}

Item  0x1032
{
	Name		Smoothingplane
	Desc		smoothing plane
	Script		carpentry
	Weight		2
}

Item 0x102a
{
	Name		Hammer
	Desc		martelo
	Script		carpentry
	Weight		2
}

Item  0x10e4
{
	Name		drawknife
	Desc		faca de entalhar
	Script		carpentry
	Weight		1
}

Item 0x1428
{
	Name moldedevela
	Desc molde de vela
	Script :usestuff:useStuff
	weight 1
}

#------------------------------------------------------------MATERIAIS
Item 0x10e1
{
	Name		barrelhoops
	Desc		aros de barril
}

Item  0x1eb2
{
	Name		barrelstaves
	Desc		madeira de barril
	Weight		1
}

Item  0x1004
{
	Name		barreltap
	Desc		tampa de barril
	Weight		1
}

#------------------------------------------------------------ITENS
#---------------------------------------------------------Recipientes
Item  3711
{
	Name		barrica
	Desc		Barrica
	Weight		10
}

Item  6870
{
	Name		barricacomtorneira
	Desc		Barrica com torneira
	Script		usekeg
	Weight		20
}

Item  3715
{
	Name		balde
	Desc		Balde
	Weight		30
	Script		balde/fill
}

Item  7608
{
	Name		tampadebarril
	Desc		Tampa de barril
	Weight		5
}

#---------------------------------------------------------Assentos
Item  2602
{
	Name		banquinho
	Desc		Banquinho
	Weight		10
}

Item  2603
{
	Name		banquinho2
	Desc		Banquinho
	Weight		10
}

Item  2860
{
	Name		banco
	Desc		Banco
	Weight		20
}

Item  2911
{
	Name		banco2
	Desc		Banco
	Weight		20
}

Item  2914
{
	Name		banco3
	Desc		Banco
	Weight		20
}

Item  2862
{
	Name		cadeiragrande
	Desc		Cadeira grande
	Weight		50
}

Item  2902
{
	Name		cadeira
	Desc		Cadeira
	Weight		40
}

Item  2906
{
	Name		cadeira2
	Desc		Cadeira
	Weight		40
}
Item  0x2DE3
{
	Name		OrnateElvenChair
	Desc		Cadeira Ornamentada
	Weight		40
}

Item  0x2DEB
{
	Name		BigElvenChair
	Desc		Cadeir Grande Ornamentada
	Weight		40
}
Item  0x2DF5
{
	Name		ElvenReadingDesk
	Desc		cadeira De Leitura Ornamentada
	Weight		40
}
Item  2894
{
	Name		cadeiraestofada
	Desc		cadeira estofada
	Weight		40
}

Item  2898
{
	Name		cadeiraestofada2
	Desc		cadeira estofada
	Weight		40
}

Item  2961
{
	Name		bancogrande
	Desc		banco grande
	Weight		80
}

Item  2866
{
	Name		trono
	Desc		trono
	Weight		80
}

#---------------------------------------------------------Mesas e Balcoes
Item  2868
{
	Name		mesinha
	Desc		Mesinha
	Weight		25
}

Item  2889
{
	Name		escrivaninha
	Desc		escrivaninha
	Weight		30
}

Item  2879
{
	Name		mesagrande
	Desc		mesa grande
	Weight		60
}

Item  2877
{
	Name		mesagrande2
	Desc		mesa grande
	Weight		60
}

Item  2816
{
	Name		balcao
	Desc		balcao
	Weight		60
}

Item  2825
{
	Name		balcao2
	Desc		balcao
	Weight		35
}

Item  2829
{
	Name		balcao3
	Desc		balcao
	Weight		25
}

Item  7589
{
	Name		mesa
	Desc		mesa
	Weight		50
}

Item  2923
{
	Name		mesa2
	Desc		mesa
	Weight		50
}

Item  2926
{
	Name		mesa3
	Desc		Mesa
	Weight		50
}

Item  2933
{
	Name		mesa4
	Desc		Mesa
	Weight		50
}

Item  4491
{
	Name		mesaadornada
	Desc		Mesa adornada
	Weight		110
}

Item  4493
{
	Name		mesaadornada2
	Desc		Mesa adornada
	Weight		110
}

Item  4495
{
	Name		mesagrandeadornada
	Desc		Mesa grande adornada
	Weight		90
}

Item  5735
{
	Name		mesagrandeadornada2
	Desc		Mesa grande adornada
	Weight		90
}

Item  0x3092
{
	Name		FancyElvenTable
	Desc		Mesa Bonita Ornamentada
	Weight		110
}
Item	0x11DC
{
	Name	logtable
	desc	Mesa de Toras de Madeira
	weight 40
}
Item	0x11DD
{
	Name	logtable2
	desc	Mesa de Toras de Madeira
	weight 40
}
Item	0x11DE
{
	Name	logtable3
	desc	Mesa de Toras de Madeira
	weight 40
}
Item	0x11DF
{
	Name	logtable4
	desc	Mesa de Toras de Madeira
	weight 40
}
Item	0x11E0
{
	Name	logtable5
	desc	Mesa de Toras de Madeira
	weight 40
}
Item	0x11E1
{
	Name	logtable6
	desc	Mesa de Toras de Madeira
	weight 40
}

Item  0x308C
{
	Name		OrnateElvenTable
	Desc		Mesa Ornamentada
	Weight		110
}
Item  6416
{
	Name		bar
	Desc		Bar
	Weight		60
}

#---------------------------------------------------------Cercas e Portas
Item  947
{
	Name		cerca
	Desc		Cerca
	Weight		40
}

Item  2140
{
	Name		cerca2
	Desc		Cerca
	Weight		40
}

Item  2146
{
	Name		cerca3
	Desc		Cerca
	Weight		40
}


#---------------------------------------------------------Postes e Suportes
Item  2591
{	Name		postedelanterna
	Desc		Poste de lanterna
	Weight		50
}

Item  2967
{
	Name		suportedeplacas
	Desc		Suporte de placas
	Weight		30
}

Item  2969
{
	Name		suportedeplacas2
	Desc		Suporte de placas
	Weight		30
}



Item  3765
{
	Name		suportepartitura
	Desc		Suporte de partitura
	Weight		25
}

Item  3769
{
	Name		suportepartitura2
	Desc		Suporte de partitura grande
	Weight		30
}

Item  3953
{
	Name		cavalete2
	Desc		Cavalete
	Weight		90
}

Item  5741
{
	Name		postedetortura
	Desc		Poste de tortura
	Weight		20
}

Item  0x0BCF
{
	Name		placa1
	Desc		placa
	Cprop		canfix	i1
	graphic		0x0BCF
	Weight		30
	Script		placas
}

Item  0x0BD0
{
	Name		placa2
	Desc		placa
	Cprop		canfix	i1
	graphic		0x0BD0
	Weight		30
	Script		placas
}

Item  0x0BD1
{
	Name		placa3
	Desc		placa
	Cprop		canfix	i1
	graphic		0x0BD1 
	Weight		30
	Script		placas
}


Item  0x0BD2
{
	Name		placa4
	Desc		placa
	Cprop		canfix	i1
	graphic		0x0BD2 
	Weight		30
	Script		placas
}

Item  0x1F28
{
	Name		placa5
	Desc		placa
	Cprop		canfix	i1
	graphic		0x1F28 
	Weight		30
	Script		placas
}

Item  0x1F29
{
	Name		placa6
	Desc		placa
	Cprop		canfix	i1
	graphic		0x1F29 
	Weight		30
	Script		placas
}
#---------------------------------------------------------Ferramentas e Equips
Item  5353
{
	Name		padeforno
	Desc		Pa de forno
	Weight		20
}

Item  7862
{
	Name		caixadeferramentas
	Desc		Caixa de ferramentas
	Weight		6
}

Item  7863
{
	Name		caixadeferramentas2
	Desc		Caixa de ferramentas
	Weight		8
}

Item  7722
{
	Name		remos
	Desc		Remos
	Weight		30
}



#---------------------------------------------------------Jogos e Instrumentos
Item  3612
{
	Name		tabuleirodegamao
	Desc		Tabuleiro de gamao
	Weight		14
}

Item  4010
{
	Name		tabuleirodedamas
	Desc		Tabuleiro de damas
	Weight		12
}

Item  4006
{
	Name		tabuleirodexadrez
	Desc		Tabuleiro de xadrez
	Weight		12
}

Item  7726
{
	Name		alvo2
	Desc		Alvo
	Weight		15
}


#---------------------------------------------------------Construcoes
Item 0xb00e
{
	Name		carrinhodemao
	Desc		Carrinho de mao
	Graphic		0x14ef
	Script		carpentryDeed
	Weight		100
	ObjList		0x1a86	0x1a83	0x1a82
	ObjXMod		0	0	0
	ObjYMod		0	1	2
	InHouse		1
	ObjMovable	0
	MultOrientation	0
	OrientationId	0	-12
}

Item  1981
{
	Name		plataforma
	Desc		Plataforma
	Weight		25
}

Item  4117
{
	Name		rodadefiar
	Desc		Roda de fiar
	Weight		180
}

Item  0xB008
{
	Name		tear
	Desc		Tear
	Graphic		0x14EF
	Script		carpentryDeed
	Weight		300
	ObjList		0x1060  0x105f
	ObjXMod		0	0
	ObjYMod		0	1
	InHouse		1
	ObjMovable	0
	MultOrientation	1
	OrientationId	0	2
}

Item 0xb00b
{
	Name		moinho
	Desc		Moinho
	Graphic		0x14ef
	Script		carpentryDeed
	Weight		300
	ObjList		0x192C	0x192E	0x1930
	ObjXMod		0	0	0
	ObjYMod		0	1	2
	InHouse		1
	ObjMovable	0
	MultOrientation	1
	OrientationId	0	-12
}

Item 0xb00a
{
	Name		tinadeagua
	Desc		Tina de agua
	Graphic	        0x14EF
	Script		carpentryDeed
	Weight		120
	ObjList		0xB43	0xB44
	ObjXMod		0	1
	ObjYMod		0
	InHouse		1
	ObjMovable	0
	MultOrientation	1
	OrientationId	0	-2
	
	Cprop	water	i30
}


Item  7732
{
	Name		espantalho
	Desc		Espantalho
	Weight		70
}

#---------------------------------------------------------Humanos
Item  2207
{
	Name		escada
	Desc		Escada
	Weight		60
}

Item  0x4044
{
	Name		ornamentedmirror
	Desc		Espelho Ornamentado
	Weight		35
	movable		1
}
Item  0x4046
{
	Name		floormirror
	Desc		Espelho de Chao
	Weight		40
	movable		1
}

Item 0xb011
{
	Name		cama
	Desc		Cama
	Graphic	        0x14EF
	Script		carpentryDeed
	Weight		130
	ObjList		0x0A5e	0x0A5f
	ObjXMod		0	0
	ObjYMod		0	1
	InHouse		1
	ObjMovable	0
	MultOrientation	1
	OrientationId	0	2
}

item 0xb009
{
	Name		camadecasal
	Desc		Cama de casal
	Graphic		0x14EF
	Script		carpentryDeed
	Weight		250
	ObjList		0xA74	0xA75	0xA76	0xA77
	ObjXMod		0	0	-1	-1
	ObjYMod		0	1	1	0
	InHouse		1
	ObjMovable	0
	MultOrientation	1
	OrientationId	0	-4
}
Item 0xb01A
{
	Name		Elvenbed
	Desc		Cama Ornamentada
	Graphic		0x14EF
	Script		carpentryDeed
	Weight		130
	ObjList		0x3051	0x3050	
	ObjXMod		0	0
	ObjYMod		0	1
	InHouse		1
	ObjMovable	0
	MultOrientation	1
	OrientationId	0	-4
}


#---------------------------------------------------------Orcs

Item 0x9C1C
{
	Name woodmachine
	desc Maquina de Marcenaria
}
