##########################################################################
# Format for Crafting Menus Config Files:
#
#  Index Entry for Config:
#
#     Craftitem Index      <- This is the Index. Contains the Sub Menu Names
#     {
#      Title	   Example <- HTML Name of the Menu
#      Skill       blacksmithy  <- Skill the menu is for. Same as the ID's in pol
#      SkillID     blacksmithy  <- SkillID of the skill listed in Skill. Needs removed
#      Group       Axes    <- Used for each Sub Menu Name
#     }
#
#  Sub Menu Entry for Config:
#
#     Craftitem RingMail   <- Should match the Sub-Menu Group name in Index
#     {
#     	Item	RingmailGloves   <- For each item in the sub-menu. You use the
#                                   objtype name here, not the objtype.
#     }
#
##########################################################################

Craftitem Index
{
        Title   <center>Menu de Forja</center>
        Skill   Blacksmithy
        SkillID Blacksmithy
	Group	Machados
	Group	Lâminas
	Group	Contusão
	Group	Hastes
	Group	Escudos
	Group	Helmets
	Group	Armors
	Group	ArmorPlates
	Group	DragonArmor


}

Craftitem ArmorPlates
{
	Item	RingmailGloves
	Item	RingmailLeggings
	Item	RingmailSleeves
	Item	RingmailTunic
	Item	PlatemailBreastplate
	Item	PlatemailArms
	Item	PlatemailGloves
	Item	PlatemailGorget
	Item	PlatemailLegs
	Item	FemalePlate
	Item	AdamantiumBreastPlate
	Item	AdamantiumPlateLeggings
	Item	AdamantiumPlateArms
	Item	AdamantiumPlateGloves
	Item	AdamantiumPlateGorget
	Item	AdamantiumPlateShoes
}

Craftitem Armors
{
	Item	Bonearms
	Item	Bonetunic
	Item	Bonegloves
	Item	Bonelegs
	Item	Bonehelm
	Item	ChainmailCoif
	Item	ChainmailLeggings
	Item	ChainmailTunic
	Item	PlateDo
	Item	SamuraiSuneate
	Item	SamuraiHaidate
	Item	SamuraiKote
	Item	SamuraiMempo
	Item	FeericMailTunic
	Item	FeericMailLeggings
	Item	FeericMailSleeves
	Item	FeericMailGloves
	Item	FeericMailGorget
	
}

Craftitem Helmets
{
	Item	Bascinet
	Item	CloseHelm
	Item	Helmet
	Item	NoseHelm
	Item	PlateHelm
	Item	KabutoHelm
	Item	AdamantiumPlateHelm
}

Craftitem Escudos
{
	Item	RoundShield
	Item	Buckler
	Item	KiteShield
	Item	HeaterShield
	Item	MetalShield
}


Craftitem Machados
{
	Item	axe
	Item	DoubleAxe
	Item	ExecutionersAxe
	Item	LargeBattleAxe
	Item	TwoHandedAxe
	Item	WarAxe
	Item	ornatedaxe
}

Craftitem Contusão
{
	Item	Mace
	Item	Maul
	Item	WarHammer
	Item	WarMace
	Item	Scepter
	Item	LaminedMace
}

Craftitem Hastes
{
	Item	Bardiche
	Item	Halberd
	Item 	CrescentBlade

	Item	BladedStaff
	Item	Pike
	Item	DoubleBladedStaff
	Item	WarFork
	Item	Spear
	Item	KnightLance
	
}

Craftitem	Lâminas
{
	Item	LongScimitar
	Item	Rapier
	Item	Saber
	Item	VikingSword
	Item	Scimitar
	Item	ShortScythe
	Item	WarScimitar
	Item 	FeericMachete
	Item	Cutlass
//	Item	Wakizashi
	
	Item	GreatSword
//	Item	No-Dachi

	Item	Dagger
	Item	kukri
	Item	karda
	Item	Kryss
//	Item	Tekagi
	
	Item	DualFeericBlade
	Item	DualDagger
	Item	EspadasDuplas

}
